---
import { map } from "astro:schema";
import Badge from "../badge/Badge.astro";

export type ImageType = {
	src: string,
	alt?: string
}

export type CardProps = {
	title: string,
	id: string,
	description?: string,
	image?: ImageType,
	badges?: { text: string, color: string }[],
	sourceCodeLink?: string,
	demoLink?: string
}

const props = Astro.props as CardProps;

---
<div class="card" id={props.id}>
	<div class="image-content">
		{ 
			props.image ? <img class="card-image" src={props.image?.src} alt={props.image?.alt}/> : ''
		}
		<div class="image-badges">
			{
				props.sourceCodeLink ? 
					<a href={props.sourceCodeLink} target="_blank" class="hover-badge">
						<Badge text="Code" color="#aaffaa" />
					</a> 
				: ''
			}
			{
				props.demoLink ? 
					<a href={props.demoLink} target="_blank" class="hover-badge">
						<Badge text="Demo" color="#aaaaff" />
					</a> 
				: ''
			}
		</div>
		
	</div>
	
	
	<div class="card-content">
		<p>
			<b>{props.title}</b>
		</p>
		<p>
			{props.description}
		</p>
		<div>
			{props.badges?.map(badge => {
				return <Badge text={badge.text} color={badge.color} />
			})}
		</div>
	</div>
	
</div>

<style>

	@media screen and (min-width: 1024px) {
		.card {
			width: 30%;
			margin: 1vw 0;
		}
	}

	@media screen and (max-width: 1023px) {
		.card {
			width: 80%;
			margin-top: 4vh
		}
	}

	.card {
		border: .01vw solid black;
		border-radius: 0.5vw;
		box-shadow: 1vw 1vw 3vw rgba(0,0,0,0.1);
		background-color: #fff;
		color: black;
	}

	.card:hover {
		box-shadow: 4vw 4vw 10vw rgba(0,0,0,0.2);
		rotate: 1deg;
	}

	.card-content {
		padding: .5vw;
	}

	.card-image {
		width: 100%;
		border-radius: 0.5vw 0.5vw 0 0;
		border-bottom: #cacaca solid .1vw;
		aspect-ratio: 16 / 9;
	}

	.image-content {
		position: relative;
	}

	.image-badges {
		position: absolute;
		bottom: .5vw;
		right: .5vw;
		display: flex;
		gap: .5vw;
	}

	.hover-badge:hover {
		opacity: .85;
		box-shadow: 4vw 4vw 10vw rgba(0,0,0,0.2);
		rotate: 5deg;
	}
</style>