---
import Card, { type ImageType } from "../card/Card.astro"

export type Technology = {
	name: string,
	type: 'frontend' | 'backend' | 'api'
}

export type ProjectSection = {
	id: string,
	name: string,
	blurb: string,
	subsections?: ProjectSubsection[]
}

export type ProjectSubsection = {
	id: string,
	name: string,
	image?: ImageType,
	description?: string,
	technologies?: Technology[]
}

const technologyColors: Record<string, string> = {
	'frontend': '#99ddee',
	'backend': '#ffee55',
	'api': '#ff99cc'
}

const sections = Astro.props.sections as ProjectSection[];

console.log(Astro.props)

---
<div class="tab-view">
	<div class="tabs" id="project-tabs">
		{
			sections.map((section, index) => {
				return <div class={`sub-tab ${index===0 ? 'selected-sub-tab' : ''}`} id={`${section.id}`}>{section.name}</div>
			})
		}
	</div>
	{
		sections.map((section, index) => {
			return <div class="content" id={`${section.id}-content`} style={index===0 ? 'display: block;' : 'display: none;'}>
				{
					section.blurb
				}
				<div style="display:flex; flex-direction: row; gap: 1rem">
					{
						section.subsections?.map(subsection => {
							return <Card 
								title={subsection.name} 
								description={subsection.description}
								image={{ src: subsection.image ? subsection.image.src : '/public/project-images/NoImage.png', alt: subsection.name }}
								badges={subsection.technologies?.map(tech => ({ text: tech.name, color: technologyColors[tech.type] }))}
							/>
						})
					}
				</div>
			</div>
		})
	}
</div>

<style>
	.tab-view {
		padding: 1rem;
		color: black;
	}

	.selected-sub-tab {
		background-color: #b16cff !important;
		border-bottom: none;
		color: white;
		font-weight: bold;
	}

	.sub-tab {
		padding: 0.5rem 1rem;
		border: 1px solid black;
		border-bottom: none;
		border-radius: 0.5rem 0.5rem 0 0;
		background-color: #a1ffa1;
		cursor: pointer;
	}

	.sub-tab:hover {
		opacity: .8;
	}

	.tabs {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		border-bottom: 2px solid black;
	}
	.content {
		padding: 2rem;
		border: 1px solid black;
		border-radius: 0 0.5rem 0.5rem 0.5rem;
		background-color: #f0f0f0;
	}
</style>