---
import HoverLabel from "../../HoverLabel/hoverLabel.astro";
import type { IToolBarOption } from "./IToolBarOption";

const props = Astro.props as IToolBarOption;
---
<div class="icon-wrapper" id={props.id}>
	<span class="hover-label">
		<HoverLabel label={props.title}/>
	</span>
	<img
		class={`tool-bar-option ${props.iconSize}`}
		src={props.url} 
		onclick="toggleApplicationView"
		data-applicationID={props.applicationId}
		alt={props.title}
	/>
</div>

<style>
	@media (min-width: 1001px) {
		.tool-bar-option {
			height: 10vh;
			width: 10vh;
			padding: .5vh;
		}

		.hover-label {
			opacity: 0;
		}

		.icon-wrapper:hover .hover-label {
			opacity: 1;
		}
	}

	@media (max-width: 1000px) {
		.tool-bar-option {
			height: 5vh;
			width: 5vh;
			padding: .25vh;
		}

		.hover-label {
			opacity: 0;
		}

		.small {
			height: 5vh !important;
			width: 5vh !important;
			padding: .25vh !important;
		}
		.large {
			height: 10vh !important;
			width: 10vh !important;
			padding: .5vh !important;
		}
	}

	.tool-bar-option:hover {
		scale: 1.1;
	}

	.icon-wrapper {
		text-align: center !important;
	}


</style>