---
export type TreeNodeType = {
	name: string,
	depth?: number,
	children?: TreeNodeType[],
	parentId?: string
}

const props = Astro.props as TreeNodeType;

---

<div style={`margin-left: ${props.depth ? props.depth : 0}rem;`} class={props.parentId}>
	<p id={props.name}>{props.children ? '⛛ ' : ''}{props.name}</p>
	{
		props.children?.map(child => {
			return (
				<Astro.self 
					name={child.name} 
					children={child.children} 
					depth={props.depth ? props.depth + 1 : 1}
					parentId={props.name}
				/>
			)
		})
	}
</div>

<script>
	toggleView('Projects');
	function toggleView (parentID: string) {
		const children = document.getElementsByClassName(parentID);
		let isToggled = false;

		// for every child under the parentID, hide the view
		for (let i = 0; i <= children.length - 1; i++) {
			console.log(children[i]);
			
			// If already toggled, set display back to block, otherwise, set to none
			isToggled = (children[i] as HTMLElement).style.display === 'none';
			(children[i] as HTMLElement).style.display = isToggled ? 'block' : 'none';
		}

		// Change the display name of the directory ▶ or ⛛ based on whether or not it's toggled
		const parent = document.getElementById(parentID) as HTMLElement;
		parent.innerText = parent.innerText.split('').map(c => c === '▶' ? '⛛' : c === '⛛' ? '▶' : c).join().replaceAll(',', '');
	}
</script>